#search-results {}
#search-results .items-counter {text-align: center; color: white; font: italic 20px/60px "PT Sans";}

.item {
	background: white;
	height: 240px;
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.20);
	border-radius: 2px;
	margin-bottom: 30px;
	cursor: pointer;
	overflow: hidden;
}

.item .image {
	width: 450px;
	height: 240px;
	margin-right: 30px;
	float: left;
	background: url(http://static.stopagent.ru/img/719/001/171908.jpg) no-repeat;
	background-size: cover;
	display: block;
}

.item .type {color: #4A4A4A; font: 700 28px/30px "PT Sans"; padding-top: 30px;}
.item .metro {font-size: 16px; padding-left: 37px; background: url() no-repeat left center; float: left;}

.item .line-1 {color: #702785; background-image: url(img/metro-line-1.png);}
.item .line-2 {color: #702785; background-image: url(img/metro-line-2.png);}
.item .line-3 {color: #702785; background-image: url(img/metro-line-3.png);}
.item .line-4 {color: #702785; background-image: url(img/metro-line-4.png);}
.item .line-5 {color: #702785; background-image: url(img/metro-line-5.png);}

.item .address {color: #9B9B9B; font: 16px/30px "PT Sans"; margin-bottom: 30px; float: left;}
.item .price {color: #4A4A4A; font: 700 28px/30px "PT Sans"; float: right;  padding: 30px 20px 0px 0px}
.item .features {
	height: 60px;
	width: 240px;
	background: #efefef;
	float: left;
}
.item .button {
	color: #4579A6;
	width: 160px;
	height: 44px;
	margin: 8px 20px 0px 0px;
	line-height: 44px;
	text-align: center;
	float: right;
	display: block;
	border: 2px solid #4579A6;
	border-radius: 2px;
	box-sizing: border-box;
	
}
.item .timestamp {float: right; margin: 30px 20px 0px 0px; color: #99AEC2;}

